.imagen-de-producto {
    height: 400px;
    object-fit: cover;
    width: 600px;
}

body {
    background-color: black;
    font-family: "League Gothic", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: brown; 
}

.color-barra{
    background-color: beige;
}

.margin{
    margin-top: 5rem;
}